:root{
    --cor__primaria: #FFFFFF;
    --cor__secundaria: #C0C0C0;
    --cor__tercearia: #167BF7;
    --cor__de__fundo: #00030C;
    --fonte__principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor__de__fundo);
    color: var(--cor__primaria);
    font-family: var(--fonte__principal);
    font-size: 1em;
    font-weight: 400;
}

.cabecalho__navegacao{
    background-image:url(/img/Background.png);
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    width: 100%;
    height: 100vh;
}
.cabecalho__navegacao__divisao{
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.cabecalho__navegacao__divisao__title{
    width: 80%;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
}

.cabecalho__divInterna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho__navegacao__divisao__link {
    background-color: var(--cor__tercearia);
    color: var(--cor__primaria);
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;

} 
.cabecalho__navegacao__divisao__link2 {
    background-color: transparent;
    border: 2px solid var(--cor__primaria);
    color: var(--cor__primaria);
    width: 100%;
    text-decoration: none;
    text-align: center;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
} 

.cabecalho__navegacao__divisao__aviso{
    color: var(--cor__secundaria);
    font-size: 0.8em;
}

.container__firstSection{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em
}

.container__firstSection__imagem{
    width: 40%;
}

.container__firstSection__banner{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.container__firstSection__titulo{
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 0.3em;

}

.container__firstSection__texto{
    color: var(--cor__secundaria);
}

.container__firstSection__link{
    background-color: var(--cor__tercearia);
    color: var(--cor__primaria);
    text-decoration: none;
    width: 25%;
    text-align: center;
    border-radius: 1em;
    padding: 1em;
}

.dispositivos__disponiveis{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-bottom: 3em ;
}

.dispositivos__disponiveis__title{
    font-size: 3em;
    
}

.dispositivos__disponiveis__container{
    text-align: center;
    display: flex;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--cor__primaria);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cor__secundaria);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--cor__tercearia);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}
